{% extends 'base.html' %}
{% block content %}
    <!-- News page -->
    <section>
        <div class="wrapper">
            <div class="news-page__container">
                <h1 class="page-title">
                    News
                </h1>
                <div class="news-page__content">
                    {% for item in news %}
                    <div class="news-card">
                        <p class="news-card__date">
                            {{ item.article_created_at|date:"Y-m-d H:i" }}
                        </p>
                        <p class="news-card__title">
                            {{ item.article_title }}
                        </p>
                        <div class="news-card__photo">
                            {% if item.article_photo %}
                            <img src="{{ item.article_photo.url }}" alt="" class="news-card__photo-img">
                            {% endif %}
                        </div>
                        <p class="news-card__description">
                            {{ item.article_content|safe|linebreaks|truncatewords:50 }}
                        </p>
                        <a href="{% url 'article' item.pk %}" class="news-card__link">SEE ARTICLE</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}